/*---emplacement des fonts-----*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/*----------------------------*/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10 px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Nunito Sans", sans-serif;
}
/*----------------------------------------------------------*/
/*-------------version mobile-------------------------------*/
/*----------------------------------------------------------*/

/*-------------header-----------------*/
header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 13vh;
  left: 0px;
  top: 0px;
  background: #cf0233;
  border-radius: 0px 0px 20px 20px;
}

header img {
  width: 40%;
  height: 45%;
  margin-bottom: 2%;
}

/*----------haut de page / photo et description-----*/

.containerH1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.hautDePage img {
  width: 100%;
  height: 35vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
  border-radius: 27px;
}

h1 {
  color: white;
  font-size: 5em;
  position: absolute;
  z-index: 1;
  transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.hautDePage p {
  width: 85%;
  margin: 10vh auto 10vh auto;
  text-align: justify;
  font-size: 1.8rem;
}

/*--------------------cards-----------------*/

.cards_wrap {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.binome_block {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.binome_block aside.binome_block-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.binome_block aside.binome_block-cards div.card {
  display: flex;
  justify-content: flex-direction;
  max-width: 50%;
  width: 18rem;
}

.binome_block aside.binome_block-cards div.card h5 {
  font-weight: bold;
  font-size: 1.5rem;
}

.binome_block aside.binome_block-cards div.card .btn-primary {
  background: #1c3a21;
  font-size: 1.3rem;
  vertical-align: center;
}

.binome_block aside.binome_block-cards img {
  height: 180px;
}

.binome_block aside.binome_block-cards div.card:nth-child(1) {
  text-align: left;
}

.binome_block aside.binome_block-cards div.card:nth-child(2) {
  text-align: right;
}

/*----------------------------------------------------------*/
/*---------pour tous les ecrans de plus de 768px------------*/
/*----------------------------------------------------------*/

@media screen and (min-width: 768px) {
}

/*----------------------------------------------------------*/
/*---------pour tous les ecrans de plus de 1024px------------*/
/*----------------------------------------------------------*/

@media screen and (min-width: 1024px) {
}
